.homepage{
    background: -webkit-linear-gradient(left, #3E5C76, #3E5C76 30%, #F0EBD8 30%, #F0EBD8);
    min-height: calc(99vh - 126.578px);
    max-height: calc(100%);
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.homepage-links{
    text-align: center;
    margin-top: 10vh;
}

.homepage-about{
    margin-left: 1vw;
    margin-right: 5vw;
    color: #1d2d44;
}



.homepage-links button{
    min-width: 10em;
    max-width: 10vw;
    margin-top: 2em;
    background-color: #1d2d44;
    color: #F0EBD8;
    height: 2rem;
    font-size: 1.1rem;
    border-radius: 1rem;
}

.homepage-links button:hover{
    cursor: pointer;
    background-color: #748CAB
}