.profile-order-history{
    text-align: center;
    margin-top: 0.25em;
    user-select: none;
}

.profile-order-history:hover{
    cursor: pointer;
    color: beige;
    background-color: #748cab;
    border-radius: 0.25em;
}