.profile {
    background-color: #F0EBD8;
    min-height: calc(98vh - 126.578px);
    padding-top: 1vh;
}

.profile h1 {
    color: #1d2d44;
    margin-left: 10vw;
}

.profile p{
    color: #1d2d44;
    margin-left: 10vw;
}

.profile-separator {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    background-color: #1d2d44;
    color: #F0EBD8;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    padding-top: 0.5em;
}

.profile-options {
    padding-top: 1em;
}

.profile-options button {
    background-color: #3E5C76;
    color: #F0EBD8;
    height: 2rem;
    width: 80%;
    min-width: 10rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.profile-options button:hover {
    cursor: pointer;
    background-color: #748cab;
}

.current-cart {
    padding-top: 1em;
}

.order-history {
    padding-top: 1em;
}

.add-funds{
    padding-top: 5vh;
    padding-left: 10vw;
    min-height: calc(94vh - 126.578px);
}

.add-funds input{
    width: 12em;
    height: 1.5rem;
    margin-top: 1.5em;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #F0EBD8;
}

.add-funds button{
    background-color: #3E5C76;
    color: #F0EBD8;
    height: 2rem;
    font-size: 1.1rem;
    border-radius: 1rem;
    width: 12em;
    margin-top: 1em;
}

.add-funds button:hover{
    background-color:#748CAB;
    cursor: pointer;
}

.add-funds h4{
    color: red;
    margin-top: 1em;
    margin-bottom: 0em;
}

.back-btn {
    background-color: #3E5C76;
    color: #F0EBD8;
    height: 2rem;
    width: 8rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
}

.back-btn:hover{
    cursor: pointer;
    background-color: #748CAB;
}

.invalid-funds-warning{
    color:red;
    text-align: center;
    margin-bottom: 1em;
}