.register-outer{
    background: -webkit-linear-gradient(left, #3E5C76, #3E5C76 30%, #F0EBD8 30%, #F0EBD8);
    height: calc(92vh - 126.578px);
    padding-top: 8vh;
}

.register-break{
    margin-bottom: 30px;
}
.register-middle{
    margin-left: 20%;
    background: linear-gradient(345deg, #3e5c76de 200px, #748cabda 200px, #748cabda),
    url('./pictures/hammers_register.jpg');
    width: 50%;
    display: grid;
    grid-template-columns: 33% 1fr;
    column-gap: 5%;
    padding: 5% 2% 5% 2%;
    border-radius: 1rem;

}

.register-inner-left{
    grid-column-start: 1;
    text-align: center;
    border-radius: 1rem;
}

.register-inner-left h2{
    padding-top: 25%;
    color: #F0EBD8;
}

.register-inner-right{
    grid-column-start: 2;
    background-color: #F0EBD8;
    text-align: center;
    padding-top: 0.5em;
    border-radius: 1rem;
    width: 75%;
    margin-left: 15%;
}

.register-inner-right form{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

.register-inner-right input{
    min-width: 50%;
    height: 1.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: #F0EBD8;
    
}
.register-inner-right button{
    margin-top: 1rem;
    min-width: 52%;
    border-radius: 1rem;
    height: 2rem;
    background-color:#3E5C76;
    color: #F0EBD8;
    font-size: 1rem;
}